<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>How many days have you been alive?</h1>
    <form method="POST" action="/daysalive">
      <h2>
        What is your birthday? Please enter in the form of mm/dd/yyyy.
      </h2>
      <input type="text" name="birthday">
      <input type="submit">
    </form>
    
  </body>
</html>
